.table-preview-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-image: url("/space.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-grow: 1;
}
