.table-preview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: #344e41;
  margin: 20px;
  cursor: pointer;
  position: relative;

  &:hover .table-preview-image,
  &:hover .preview-name {
    transform: scale(1.1);
  }
}

.preview-name {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.table-preview-image {
  height: 200px;
  transition: transform 0.5s ease;
}

.table-preview-image:hover + .preview-name {
  transform: scale(1.1);
}
