$primary-color: #1e40af;
$primary-hover: #1e3a8a;
$disabled-color: #9ca3af;
$white: #ffffff;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/space.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-grow: 1;
  padding-bottom: 40px;

  h1 {
    color: white;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;

    th,
    td {
      padding: 0.8rem;
      text-align: left;
      font-size: 14px;
    }

    th {
      background-color: #b0e6b0;
      color: #333;
      font-weight: bold;
      text-transform: uppercase;
    }

    tr:nth-child(odd) {
      background-color: #eafbe9;
    }

    tr:nth-child(even) {
      background-color: #d4f7d4;
    }

    td {
      cursor: pointer;
      color: #666;
    }

    .resizer {
      width: 10px;
      height: 100%;
      cursor: col-resize;
      background-color: #27bbff;
    }

    .resizer.isResizing {
      background-color: #2eff31;
    }

    .date-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    td input {
      padding: 0.5rem;
      background: transparent;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
  }
}

.starwars-page {
  height: 100%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.navigation-button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}

.invisible {
  display: none;
}
